.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.navbar-inverse .navbar-nav>li>a {
	font-size: 15px;
}

.carousel {
	margin-top: -22px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}

.footer {
    margin-top: 400px;
}